<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Posts</h1>
    <ol>
        {% for post in posts %}
            <li>
                <a href="{% url 'blog:post-detail' pk=post.id %}"><h2>{{post.title}}</h2></a>
                {{post.author.first_name}} {{post.author.last_name}} - {{post.published_date}}
            </li>
        {%endfor%}
    </ol>
</body>
</html>